.badge {
    text-align: center;
    font-weight: bold;
    padding: 5px;
    margin:1.1rem;
    border-radius: 12px;
}

.badge-primary {
    color: var(--txtPrimary);
    border: 1px solid var(--txtPrimary);
    background-color: var(--bgPrimary);
}

.badge-secondary {
    color: var(--txtSecondary);
    border: 1px solid var(--txtSecondary);
    background-color: var(--bgSecondary);
}

.badge-failure {
    color: var(--txtFailure);
    border: 1px solid var(--txtFailure);
    background-color: var(--bgFailure);
}
.badge-light{
    color: var(--txtLight);
    border: 1px solid var(--txtLight);
    background-color: var(--bgLight);
}
.badge-dark {
    color: var(--txtDark);
    background-color: var(--bgDark);
}
/* for badges with icons */
.badge-icon {
    padding:3px 8px;
    position: relative;
    top: -1.4rem;
    left: -2.1rem;
    border-radius: 50%;
}
/* for badges with status offline or online */
.badge-avatar-status {
    padding:3px 7px;
    font-size: 0.2em;
   margin:1rem;
    border: 2px solid var(--white);
    border-radius: 50%;
    position: relative;
    left: -2rem;
    bottom: 8px;
}

.space-around-img {
    padding:5px;
}