.card,
.card-horizontal {
    border: 1px solid var(--theme-shade-3);
    padding: 1rem;
    text-align: center;
    line-height: 1.5;
    background-color: var(--theme-shade-0);
    border-top-left-radius: 1.1rem;
    border-bottom-right-radius: 1.1rem;
    position: relative;
    min-width: 16rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    max-width: 21rem;
    flex-direction: column;
}

.card-horizontal {
    max-width:35rem;
    justify-content: space-between;
}

.card-img {
    width: 100%;
    min-width: 16rem;
    height:30vh;
    align-self: center;
    border-radius: 1rem;
}

.card-shadow {
    box-shadow: 20px 20px 10px var(--grey);
}

.card-badge {
    position: absolute;
    top: 7%;
    left: 4%;
    padding: 3px;
    font-size: 0.7em;
    line-height: initial;
    border-radius: unset;
}

.card-badge:after {
    content: "";
    border-width: 10px 5px;
   border-color: rgba(41, 88, 218, 0.6)  transparent  rgba(41, 88, 218, 0.6)   rgba(19, 69, 207, 0.8);
    border-style: solid;
    position: absolute;
    left: 100%;
    top: 0;
}


.card-desc {
    padding: 6px 0;
}
.card-price {
    font-size: 1.2em;
}



.txt-overlay {
    position: absolute;
    top: 28%;
    right: 22%;
}

.btn-dismiss {
    position: absolute;
    top: -5px;
    right: -5px;
    padding:  2px 6px 2px 6px;
    border-radius: 50%;
}
.btn-dismiss:hover {
   background-color: var(--white);
   color: var(--txtSecondary); 
   font-size: 1.1rem;
}

@media screen and (max-width: 576px) {
    .card-horizontal {
        flex-direction: column;
        max-width: 21rem;
    }
}

