.grid-two,
.grid-three {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-gap: 2rem;
}

.grid-two {
  grid-template-columns: repeat(2, 1fr);
}

.grid-three {
  grid-template-columns: repeat(3, 1fr);
}

@media screen and (max-width: 768px) {
  .grid-two,
  .grid-three {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 576px) {
  .grid-two,
  .grid-three {
    grid-template-columns: 1fr;
  }
}
