/* .img Used with square and rounded image */
.img{
    width:13rem;
    height:13rem;
    object-fit: cover;
  }
  .img-rd {
    border-radius: 50%;
  }
  
  .img-sq {
    margin: 0.8rem;
  }
  
  .img-res {
    height: auto;
    object-fit: cover;
  }
  