.list-normal,
.list-stacked,
.list-inline {
  max-width: 31rem;
  list-style-type: none;
  color: var(--bgPrimary);
}

.list-item {
  padding: 0.5rem;
  margin: 1rem 0.2rem;
  border: 1px solid var(--txtPrimary);
}

.list-item:hover {
  color: var(--txtSecondary);
  background-color: var(--txtPrimary);
  cursor: pointer;
}
/* For normal list items */
.list-normal > li {
  padding: 4px;
  margin: 0;
}
/* For inline list items */
.list-inline > li {
  display: inline;
}

/* For stack list items  */
.list-stacked > li {
  padding: 1rem;
  margin: 2px;
  border: 1px solid var(--theme-shade-3);
}
.list-item-active {
  color: var(--txtSecondary);
  font-weight: bold;
}
