/* Modal container  box*/
.modal-container {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 10rem;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    
  }
  
  /* Modal box */
  .modal-content {
    margin: auto;
    padding: 2rem;
    width: 50%;
  }