.rating {
  color: var(--theme-shade-3);
  cursor: pointer;
}

.rating-block {
  background-color: var(--bgLight);
  font-weight: bold;
  color: var(--grey50);
  padding: 5px;
}

.rating-checked {
  color: var(--orange);
}
