.toast-container{
    display: none;
    width: 16rem;
    padding: 3px 1rem;
    color:var(--bgSuccess);
    background-color: var(--theme-shade-0);
    box-shadow: 0 0 1rem var(--theme-shade-4);
    border: 1px solid var(--bgPrimary);
    border-radius: 1.1rem;
    position: fixed;
    top: 8%;
    right: 1%;
}

.toast-msg{
    padding: 0.52rem 0;
}