:root {
  --white: white;
  --black: black;
  --orange: orange;
  --grey: #888;
  --grey100: rgb(100, 100, 100);
  --grey50: rgb(50, 50, 50);
  /* theme shades for site */
  --theme-shade-0: #eff6ff;
  --theme-shade-1: #dbeafe;
  --theme-shade-2: #bfdbfe;
  --theme-shade-3: #93c5fd;
  --theme-shade-4: #60a5fa;
  --theme-shade-5: #3b82f6;
  --theme-shade-6: #4390c7;
  --theme-shade-7: #0c65a6;
  --theme-shade-8: #2b4ab1;
  --theme-shade-9: #1e3a8a;
  --txtPrimary: #f6eed6;

  --bgPrimary: var(--theme-shade-9);
  --txtSecondary: #c34b3a;
  --bgSecondary: #f6eed6;

  --txtSuccess: #ecfdf5;
  --bgSuccess: #2e6656;

  --txtFailure: rgb(253, 224, 224);
  --bgFailure: rgb(187, 49, 44);

  --txtLight: rgb(5, 5, 5);
  --bgLight: rgb(200, 200, 200);

  --txtDark: rgb(234, 234, 234);
  --bgDark: rgb(47, 47, 47);
  --bgWarning: #e2ba19;
  --txtWarning: #ecfdf5;
  /* dark mode color */
  --darkMode:rgb(30,30,30);
}
