@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;1,600&display=swap");

@import "/components/avatar.css";
@import "/components/alert.css";
@import "/components/badge.css";
@import "/components/button.css";
@import "/components/card.css";
@import "/components/image.css";
@import "/components/input.css";
@import "/components/list.css";
@import "/components/navigation.css";
@import "/components/modal.css";
@import "/components/rating.css";
@import "/components/grid.css";
@import "/components/textUtilities.css";
@import "/stylesheets/utilities.css";
@import "/components/toast.css";
@import "/stylesheets/colors.css";

/* Reset */
* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Lora", serif;
}

h2,
h3 {
  margin-top: 0.2em;
  margin-bottom: 0.2em;
  padding: 0.4em;
}
